In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sklearn.linear_model as skl_lm
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split, LeaveOneOut, KFold, StratifiedKFold, cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV

#scikit-learn packages for machine learning algorithms
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.linear_model import SGDRegressor

from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LassoCV
from sklearn.model_selection import cross_val_score

from sklearn.metrics import confusion_matrix, classification_report, precision_score, roc_curve, roc_auc_score, accuracy_score
from sklearn.feature_extraction.text import CountVectorizer

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('MyDataFilmsScaled.csv')
df.head()

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,vote_average,vote_count,credits,language
0,15660,Mommie Dearest,Drama,en,Renowned actress Joan Crawford at the height o...,10.589,Paramount-The Irwin Yablans Company,1981-09-18,19.032261,5.0,128.0,Released,6.400,166.0,Faye Dunaway-Diana Scarwid-Steve Forrest-Howar...,1
1,230266,Miss Julie,Drama,en,Over the course of a midsummer night in Ferman...,8.633,Maipo Film-The Apocalypse Films,2014-09-07,5.500000,5.0,130.0,Released,5.700,123.0,Jessica Chastain-Colin Farrell-Samantha Morton...,1
2,9322,La Femme Nikita,Action-Thriller,fr,A beautiful felon sentenced to life in prison ...,19.647,Gaumont-Cecchi Gori Group Tiger Cinematografic...,1990-02-21,8.538703,5.0,117.0,Released,7.100,1636.0,Anne Parillaud-Jean-Hugues Anglade-Tchéky Kary...,0
3,592336,Don't Stop Me Now,Comedy,it,Paola a modern woman used to the hardships of ...,8.115,Wildside-Vision Distribution,2019-04-18,8.000000,5.0,102.0,Released,6.346,331.0,Paola Cortellesi-Stefano Fresi-Vinicio Marchio...,0
4,8747,The Black Balloon,Drama,en,Thomas is turning 16. His dad's in the army an...,7.272,Black Balloon Productions,2008-03-08,5.000000,5.0,97.0,Released,6.800,65.0,Toni Collette-Rhys Wakefield-Luke Ford-Gemma W...,1

## Linear Regression 1

In [25]:
# Select the relevant columns
X = df[['genres']]
y = df['vote_average']

In [26]:
# Convert categorical variables to numerical using one-hot encoding
ohe = OneHotEncoder()
X_encoded = ohe.fit_transform(X)

In [27]:
# Fit a linear regression model to the data
model = LinearRegression()
model.fit(X_encoded, y)

LinearRegression()

In [28]:
print('Coefficients:', model.coef_)
print('Intercept:', model.intercept_)

Coefficients: [-0.39649631 -0.09333876  0.26858987 ... -0.65991011 -1.59591011
 -0.09591011]
Intercept: 6.495910070982856

In [29]:
model.coef_
model.intercept_

array([-0.39649631, -0.09333876,  0.26858987, ..., -0.65991011,
       -1.59591011, -0.09591011])

6.495910070982856

## Linear regression 2

In [20]:
# Encode the categorical variables
le = LabelEncoder()
df['genres_encoded'] = le.fit_transform(df['genres'])
df['original_language_encoded'] = le.fit_transform(df['original_language'])
ohe = OneHotEncoder(sparse=False)
genre_ohe = ohe.fit_transform(df[['genres_encoded']])
lang_ohe = ohe.fit_transform(df[['original_language_encoded']])
df_ohe = pd.concat([df, pd.DataFrame(genre_ohe, columns=['genre_'+str(int(i)) for i in range(genre_ohe.shape[1])]), pd.DataFrame(lang_ohe, columns=['lang_'+str(int(i)) for i in range(lang_ohe.shape[1])])], axis=1)

In [32]:
# Split the data into training and testing sets
X = df_ohe[['genre_'+str(int(i)) for i in range(genre_ohe.shape[1])]+['lang_'+str(int(i)) for i in range(lang_ohe.shape[1])]]
y = df_ohe['revenue']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
# Create and train the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [23]:
# Predict the target variable on the test set
y_pred = model.predict(X_test)

In [24]:
# Print the model's performance on the test set
print('Model R-squared score:', model.score(X_test, y_test))

Model R-squared score: -1.595702860280398e+26

## Linear 3.

In [35]:
# Encode the categorical variables
le = LabelEncoder()
df['genres_encoded'] = le.fit_transform(df['genres'])
ohe = OneHotEncoder(sparse=False)
genre_ohe = ohe.fit_transform(df[['genres_encoded']])
df_ohe = pd.concat([df, pd.DataFrame(genre_ohe, columns=['genre_'+str(int(i)) for i in range(genre_ohe.shape[1])])])

In [36]:
# Split the data into training and testing sets
X = df_ohe[['genre_'+str(int(i)) for i in range(genre_ohe.shape[1])]]
y = df_ohe['revenue']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Linear 4

In [40]:
# Split the actor names into separate columns
actors = df['credits'].str.split('-', expand=True)

In [41]:
# Join the actor columns back into a single string
df['actor_list'] = actors.apply(lambda row: ' '.join(row.dropna()), axis=1)

In [43]:
# Create a count vectorizer to encode the actor lists
vectorizer = CountVectorizer()

In [45]:
# Encode the actor lists as a sparse matrix
actor_matrix = vectorizer.fit_transform(df['actor_list'])

In [58]:
actor_matrix

<5117x60729 sparse matrix of type '<class 'numpy.int64'>'
	with 402598 stored elements in Compressed Sparse Row format>

In [59]:
df

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,vote_average,vote_count,credits,language,genres_encoded,original_language_encoded,actor_list
0,15660,Mommie Dearest,Drama,en,Renowned actress Joan Crawford at the height o...,10.589,Paramount-The Irwin Yablans Company,1981-09-18,19.032261,5.000000,128.0,Released,6.400,166.0,Faye Dunaway-Diana Scarwid-Steve Forrest-Howar...,1,697,4,Faye Dunaway Diana Scarwid Steve Forrest Howar...
1,230266,Miss Julie,Drama,en,Over the course of a midsummer night in Ferman...,8.633,Maipo Film-The Apocalypse Films,2014-09-07,5.500000,5.000000,130.0,Released,5.700,123.0,Jessica Chastain-Colin Farrell-Samantha Morton...,1,697,4,Jessica Chastain Colin Farrell Samantha Morton...
2,9322,La Femme Nikita,Action-Thriller,fr,A beautiful felon sentenced to life in prison ...,19.647,Gaumont-Cecchi Gori Group Tiger Cinematografic...,1990-02-21,8.538703,5.000000,117.0,Released,7.100,1636.0,Anne Parillaud-Jean-Hugues Anglade-Tchéky Kary...,0,214,8,Anne Parillaud Jean Hugues Anglade Tchéky Kary...
3,592336,Don't Stop Me Now,Comedy,it,Paola a modern woman used to the hardships of ...,8.115,Wildside-Vision Distribution,2019-04-18,8.000000,5.000000,102.0,Released,6.346,331.0,Paola Cortellesi-Stefano Fresi-Vinicio Marchio...,0,486,10,Paola Cortellesi Stefano Fresi Vinicio Marchio...
4,8747,The Black Balloon,Drama,en,Thomas is turning 16. His dad's in the army an...,7.272,Black Balloon Productions,2008-03-08,5.000000,5.000000,97.0,Released,6.800,65.0,Toni Collette-Rhys Wakefield-Luke Ford-Gemma W...,1,697,4,Toni Collette Rhys Wakefield Luke Ford Gemma W...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5112,140607,Star Wars: The Force Awakens,Adventure-Action-Science Fiction-Fantasy,en,Thirty years after defeating the Galactic Empi...,57.305,Lucasfilm-Bad Robot,2015-12-15,245.000000,2068.223624,136.0,Released,7.305,17755.0,Harrison Ford-Mark Hamill-Carrie Fisher-Adam D...,1,259,4,Harrison Ford Mark Hamill Carrie Fisher Adam D...
5113,597,Titanic,Drama-Romance,en,101-year-old Rose DeWitt Bukater tells the sto...,319.114,Paramount-20th Century Fox-Lightstorm Entertai...,1997-11-18,200.000000,2187.463944,194.0,Released,7.888,22350.0,Leonardo DiCaprio-Kate Winslet-Billy Zane-Kath...,1,822,4,Leonardo DiCaprio Kate Winslet Billy Zane Kath...
5114,76600,Avatar: The Way of Water,Science Fiction-Adventure-Action,en,Set more than a decade after the events of the...,1738.087,Lightstorm Entertainment-20th Century Studios,2022-12-14,460.000000,2243.275991,192.0,Released,7.733,5343.0,Sam Worthington-Zoe Saldaña-Sigourney Weaver-B...,1,1222,4,Sam Worthington Zoe Saldaña Sigourney Weaver B...
5115,299534,Avengers: Endgame,Adventure-Science Fiction-Action,en,After the devastating events of Avengers: Infi...,128.607,Marvel Studios,2019-04-24,356.000000,2797.800564,181.0,Released,8.270,22651.0,Robert Downey Jr.-Chris Evans-Mark Ruffalo-Chr...,1,387,4,Robert Downey Jr. Chris Evans Mark Ruffalo Chr...
5116,19995,Avatar,Action-Adventure-Fantasy-Science Fiction,en,In the 22nd century a paraplegic Marine is dis...,771.663,20th Century Fox-Ingenious Media-Dune Entertai...,2009-12-15,237.000000,2920.357254,162.0,Released,7.566,28398.0,Sam Worthington-Zoe Saldaña-Sigourney Weaver-S...,1,55,4,Sam Worthington Zoe Saldaña Sigourney Weaver S...

In [46]:
# Create a linear regression model
model = LinearRegression()

In [51]:
# Fit the model using the actor matrix and revenue column
X=actor_matrix
y=df['revenue']
model.fit(X, y)

LinearRegression()

In [52]:
model.coef_
model.intercept_

array([ -6.5491244 ,  -9.46262561,  -1.24644743, ...,   6.20494327,
       -11.46949342, -18.29358849])

20.792384028634373

In [53]:
# prediction on X (fitted values)
y_pred = model.predict(actor_matrix)
y_pred

array([   5.00014539,    4.998919  ,    4.99985299, ..., 2243.27594678,
       2797.80060521, 2920.35722709])

In [54]:
mean_squared_error(y, y_pred)
r2_score(y, y_pred)

7.624350351522197e-08

0.9999999999980704

## Linear regression per actor

In [190]:

df = pd.read_csv('MyDataFilmsScaled.csv')
df.head()

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,vote_average,vote_count,credits,language
0,15660,Mommie Dearest,Drama,en,Renowned actress Joan Crawford at the height o...,10.589,Paramount-The Irwin Yablans Company,1981-09-18,19.032261,5.0,128.0,Released,6.400,166.0,Faye Dunaway-Diana Scarwid-Steve Forrest-Howar...,1
1,230266,Miss Julie,Drama,en,Over the course of a midsummer night in Ferman...,8.633,Maipo Film-The Apocalypse Films,2014-09-07,5.500000,5.0,130.0,Released,5.700,123.0,Jessica Chastain-Colin Farrell-Samantha Morton...,1
2,9322,La Femme Nikita,Action-Thriller,fr,A beautiful felon sentenced to life in prison ...,19.647,Gaumont-Cecchi Gori Group Tiger Cinematografic...,1990-02-21,8.538703,5.0,117.0,Released,7.100,1636.0,Anne Parillaud-Jean-Hugues Anglade-Tchéky Kary...,0
3,592336,Don't Stop Me Now,Comedy,it,Paola a modern woman used to the hardships of ...,8.115,Wildside-Vision Distribution,2019-04-18,8.000000,5.0,102.0,Released,6.346,331.0,Paola Cortellesi-Stefano Fresi-Vinicio Marchio...,0
4,8747,The Black Balloon,Drama,en,Thomas is turning 16. His dad's in the army an...,7.272,Black Balloon Productions,2008-03-08,5.000000,5.0,97.0,Released,6.800,65.0,Toni Collette-Rhys Wakefield-Luke Ford-Gemma W...,1

In [90]:
# split the actors column by '-'
actors = df['credits'].str.split('-', expand=True)

In [120]:
actors

,0,1,2,3,4,5,6,7,8,9,...,344,345,346,347,348,349,350,351,352,353
0,Faye Dunaway,Diana Scarwid,Steve Forrest,Howard Da Silva,Mara Hobel,Rutanya Alda,Harry Goz,Michael Edwards,Jocelyn Brando,Priscilla Pointer,...,None,None,None,None,None,None,None,None,None,None
1,Jessica Chastain,Colin Farrell,Samantha Morton,Nora McMenamy,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Anne Parillaud,Jean,Hugues Anglade,Tchéky Karyo,Jean Reno,Marc Duret,Jeanne Moreau,Patrick Fontana,Roland Blanche,Jacques Boudet,...,None,None,None,None,None,None,None,None,None,None
3,Paola Cortellesi,Stefano Fresi,Vinicio Marchioni,Lucia Mascino,Ricky Memphis,Paola Minaccioni,Giampaolo Morelli,Claudia Pandolfi,Alessandro Roja,Carla Signoris,...,None,None,None,None,None,None,None,None,None,None
4,Toni Collette,Rhys Wakefield,Luke Ford,Gemma Ward,Sarah Woods,Sam Fraser,Zelie Bullen,Anthony Phelan,Deborah Piper,Henry Nixon,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5112,Harrison Ford,Mark Hamill,Carrie Fisher,Adam Driver,Daisy Ridley,John Boyega,Oscar Isaac,Lupita Nyong'o,Andy Serkis,Domhnall Gleeson,...,None,None,None,None,None,None,None,None,None,None
5113,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,Frances Fisher,Gloria Stuart,Victor Garber,Bill Paxton,Bernard Hill,David Warner,...,None,None,None,None,None,None,None,None,None,None
5114,Sam Worthington,Zoe Saldaña,Sigourney Weaver,Britain Dalton,Stephen Lang,Jack Champion,Cliff Curtis,Kate Winslet,Joel David Moore,CCH Pounder,...,None,None,None,None,None,None,None,None,None,None
5115,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,Scarlett Johansson,Jeremy Renner,Don Cheadle,Paul Rudd,Benedict Cumberbatch,Chadwick Boseman,...,None,None,None,None,None,None,None,None,None,None
5116,Sam Worthington,Zoe Saldaña,Sigourney Weaver,Stephen Lang,Michelle Rodriguez,Giovanni Ribisi,Joel David Moore,CCH Pounder,Wes Studi,Laz Alonso,...,None,None,None,None,None,None,None,None,None,None

In [200]:
# Create a new dataframe with the revenue column and actor columns
new_df = pd.concat([df["revenue"], actors], axis=1)

In [202]:
new_df

,revenue,0,1,2,3,4,5,6,7,8,...,344,345,346,347,348,349,350,351,352,353
0,5.000000,Faye Dunaway,Diana Scarwid,Steve Forrest,Howard Da Silva,Mara Hobel,Rutanya Alda,Harry Goz,Michael Edwards,Jocelyn Brando,...,None,None,None,None,None,None,None,None,None,None
1,5.000000,Jessica Chastain,Colin Farrell,Samantha Morton,Nora McMenamy,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,5.000000,Anne Parillaud,Jean,Hugues Anglade,Tchéky Karyo,Jean Reno,Marc Duret,Jeanne Moreau,Patrick Fontana,Roland Blanche,...,None,None,None,None,None,None,None,None,None,None
3,5.000000,Paola Cortellesi,Stefano Fresi,Vinicio Marchioni,Lucia Mascino,Ricky Memphis,Paola Minaccioni,Giampaolo Morelli,Claudia Pandolfi,Alessandro Roja,...,None,None,None,None,None,None,None,None,None,None
4,5.000000,Toni Collette,Rhys Wakefield,Luke Ford,Gemma Ward,Sarah Woods,Sam Fraser,Zelie Bullen,Anthony Phelan,Deborah Piper,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5112,2068.223624,Harrison Ford,Mark Hamill,Carrie Fisher,Adam Driver,Daisy Ridley,John Boyega,Oscar Isaac,Lupita Nyong'o,Andy Serkis,...,None,None,None,None,None,None,None,None,None,None
5113,2187.463944,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,Frances Fisher,Gloria Stuart,Victor Garber,Bill Paxton,Bernard Hill,...,None,None,None,None,None,None,None,None,None,None
5114,2243.275991,Sam Worthington,Zoe Saldaña,Sigourney Weaver,Britain Dalton,Stephen Lang,Jack Champion,Cliff Curtis,Kate Winslet,Joel David Moore,...,None,None,None,None,None,None,None,None,None,None
5115,2797.800564,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,Scarlett Johansson,Jeremy Renner,Don Cheadle,Paul Rudd,Benedict Cumberbatch,...,None,None,None,None,None,None,None,None,None,None
5116,2920.357254,Sam Worthington,Zoe Saldaña,Sigourney Weaver,Stephen Lang,Michelle Rodriguez,Giovanni Ribisi,Joel David Moore,CCH Pounder,Wes Studi,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
new_df = pd.concat([df["revenue"], actors], axis=1)

In [123]:
# Iterate over each actor column and create a new column with 1s and 0s based on if the actor is in the column
for actor_col in actors.columns:
    new_df[actor_col] = new_df.apply(lambda row: int(actor_col in row.values), axis=1)

In [124]:
print(5)

5

In [127]:
# Create X and y matrices for linear regression
X = new_df.drop(columns=["revenue"])
y = new_df["revenue"]

In [159]:
X

,0,1,2,3,4,5,6,7,8,9,...,344,345,346,347,348,349,350,351,352,353
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5112,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5114,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [129]:
# Train linear regression model
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [130]:
# Get coefficients for each actor
actor_coefficients = list(zip(X.columns, model.coef_))

In [131]:
# Sort actor coefficients by value and get top 50 actors with largest coefficients
top_actors = sorted(actor_coefficients, key=lambda x: abs(x[1]), reverse=True)[:50]

In [160]:
# Print top 50 actors with largest coefficients
print("Top 50 actors with largest coefficients:")
for actor, coefficient in top_actors:
    print(actor, coefficient)

Top 50 actors with largest coefficients:
130 9.82062500149238e+16
131 -8.378196038780811e+16
125 -7.228326742271768e+16
134 5.715150813093784e+16
126 5.308611330463865e+16
124 -4.998774144518681e+16
127 -4.762100035820656e+16
97 4.178589978414971e+16
121 3.919088735518546e+16
93 -3.559256185019397e+16
141 3.4381745842127584e+16
94 -3.3257304661682788e+16
96 -3.2537638990373684e+16
135 -3.2244218122104176e+16
114 3.1613395553774372e+16
142 -3.1158875951922336e+16
117 -2.988768390819729e+16
106 -2.82960447457276e+16
128 2.6137337339361436e+16
111 2.5988083356460944e+16
123 -2.5421430812180704e+16
140 2.4360770004797036e+16
99 -2.3608476202158956e+16
105 -2.3577759656856116e+16
86 -2.1206687117060412e+16
63 -2.0284676989752996e+16
82 -1.5325761132976246e+16
0 -1.4772692050522096e+16
79 1.0902079851233042e+16
113 9829687111798480.0
119 -9034397169139070.0
98 8118320615757261.0
90 -7943925718932451.0
58 -7802642287752607.0
84 6922277239670782.0
115 6748586776845774.0
68 -6431586283979453.0
112 6275377563120202.0
4 -5471736204276655.0
122 5091614172296658.0
107 4800856636159753.0
47 -4411054434829461.0
89 4103220218384757.0
69 -3684899321602315.5
37 -3624196646940143.5
1 -3337951857468934.0
2 2499093625571549.5
138 1836769892913787.5
73 -1823797048198531.0
65 1580801474510009.5